<!DOCTYPE html>
<html>
<head>
    
    <meta charset="UTF-8">
    <title>Page <%= %></title>
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
</head>
<body>
  
<div class="ui inverted menu">
    <a href="/" class="header item">Acceuil</a>
</div>

<div class="ui main container">
    <% if(locals.flash && locals.flash.error) {%>
        <div class="ui negative message">
            <%= flash.error %>
        </div>
    <% } %>

    <% if(locals.flash && locals.flash.success) {%>
        <div class="ui positive message">
            <%= flash.success %>
        </div>
    <% } %>